@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar */

.nav {
    height: 150px;
}

.titulos {
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.099em;
}
.logo {
    font-size: 34px;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: .1em;
    font-weight: normal;
}

/* Detalle imagen */

.modelo-guitarra {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}

.audio {
    width: 100px;
    height: 50px;
}
