@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
    height: 150px;
}

.logo {
    font-size: 34px;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: .1em;
    font-weight: normal;
}

.audio {
    width: 100px;
    height: 50px;
}
